header {
    text-align: center;
    font-size: 100px;
    background-color: bisque;
    border: solid 15px;
}

body {
    text-align: center;
}


button {
    font-size: 200px;
    position: absolute;
    top: 50%;
    right: 40%;
    
    
}