header {
    text-align: center;
    font-size: 100px;
    background-color: bisque;
    border: solid 15px;
}

.timer {
    text-align: center;
}

.timerCounter {
    
   font-size: 100px;
}

.questions {
    text-align: center;
}



#question {
    padding-right: 10px;
    display: inline;
    ;


}
button {
    font-size: 50px;
    position: absolute;
    top: 80%;
    left: 47%;
    
    
    
}

.questionA, .questionB, .questionC {
    display:inline-block;
    margin-right: 10px;
}
.questionA:hover, .questionB:hover, .questionC:hover {
    cursor: pointer;
    box-shadow:0px 0px 5px black;
    
    
}
