header {
    text-align: center;
    font-size: 100px;
    background-color: bisque;
    border: solid 15px;
}

body {
    
}

.timerCounter {
   font-size: 100px;
}



button {
    font-size: 50px;
    position: absolute;
    top: 20%;
    right: 50%;
    
    
    
}